In [1]:
from pyspark.sql import SparkSession
import getpass
from pyspark.sql.functions import col, substring, locate, expr, lit, to_date, date_format, when, lag, concat, row_number, count, max
from pyspark.sql.window import Window

In [2]:
user = getpass.getuser()

In [3]:
spark = SparkSession.builder.appName(f"{user} Practice")\
.config("spark.sql.warehouse.dir", f"/user/{user}/warehouse")\
.enableHiveSupport()\
.master("yarn")\
.getOrCreate()

In [ ]:
spark.sql("show databases like 'itv010684*'").show()

In [4]:
spark.sql("drop table if exists itv010684_db.ipl_results;")

++
||
++
++

In [4]:
spark.sql("use itv010684_db")

++
||
++
++

In [6]:
spark.sql("""create table ipl_results
(match_no int,
round_number varchar(50),
dates string,
location varchar(50),
home_team varchar(50),
away_team varchar(50),
result varchar(50)
);""")

++
||
++
++

In [7]:
spark.sql("insert into ipl_results values(1 , '1', '2023-03-31', 'Narendra Modi Stadium, Ahmedabad','Gujarat Titans','Chennai Super Kings','Gujarat Titans');");
spark.sql("insert into ipl_results values(2 , '1', '2023-04-01', 'Punjab Cricket Association IS Bindra Stadium, Moha','Punjab Kings','Kolkata Knight Riders','Punjab Kings');");
spark.sql("insert into ipl_results values(3 , '1', '2023-04-01', 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Crick','Lucknow Super Giants','Delhi Capitals','Lucknow Super Giants');");
spark.sql("insert into ipl_results values(4 , '1', '2023-04-02', 'Rajiv Gandhi International Stadium, Hyderabad','Sunrisers Hyderabad','Rajasthan Royals','Rajasthan Royals');");
spark.sql("insert into ipl_results values(5 , '1', '2023-04-02', 'M Chinnaswamy Stadium, Bengaluru','Royal Challengers Bangalore','Mumbai Indians','Royal Challengers Bangalore');");
spark.sql("insert into ipl_results values(6 , '1', '2023-04-03', 'MA Chidambaram Stadium, Chennai','Chennai Super Kings','Lucknow Super Giants','Chennai Super Kings');");
spark.sql("insert into ipl_results values(7 , '1', '2023-04-04', 'Arun Jaitley Stadium, Delhi','Delhi Capitals','Gujarat Titans','Gujarat Titans');");
spark.sql("insert into ipl_results values(8 , '1', '2023-04-05', 'Barsapara Cricket Stadium, Guwahati','Rajasthan Royals','Punjab Kings','Punjab Kings');");
spark.sql("insert into ipl_results values(9 , '1', '2023-04-06', 'Eden Gardens, Kolkata','Kolkata Knight Riders','Royal Challengers Bangalore','Kolkata Knight Riders');");
spark.sql("insert into ipl_results values(10 , '1', '2023-04-07', 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Crick','Lucknow Super Giants','Sunrisers Hyderabad','Lucknow Super Giants');");
spark.sql("insert into ipl_results values(11 , '2', '2023-04-08', 'Barsapara Cricket Stadium, Guwahati','Rajasthan Royals','Delhi Capitals','Rajasthan Royals');");
spark.sql("insert into ipl_results values(12 , '2', '2023-04-08', 'Wankhede Stadium, Mumbai','Mumbai Indians','Chennai Super Kings','Chennai Super Kings');");
spark.sql("insert into ipl_results values(13 , '2', '2023-04-09', 'Narendra Modi Stadium, Ahmedabad','Gujarat Titans','Kolkata Knight Riders','Kolkata Knight Riders');");
spark.sql("insert into ipl_results values(14 , '2', '2023-04-09', 'Rajiv Gandhi International Stadium, Hyderabad','Sunrisers Hyderabad','Punjab Kings','Sunrisers Hyderabad');");
spark.sql("insert into ipl_results values(15 , '2', '2023-04-10', 'M Chinnaswamy Stadium, Bengaluru','Royal Challengers Bangalore','Lucknow Super Giants','Lucknow Super Giants');");
spark.sql("insert into ipl_results values(16 , '2', '2023-04-11', 'Arun Jaitley Stadium, Delhi','Delhi Capitals','Mumbai Indians','Mumbai Indians');");
spark.sql("insert into ipl_results values(17 , '2', '2023-04-12', 'MA Chidambaram Stadium, Chennai','Chennai Super Kings','Rajasthan Royals','Rajasthan Royals');");
spark.sql("insert into ipl_results values(18 , '2', '2023-04-13', 'Punjab Cricket Association IS Bindra Stadium, Moha','Punjab Kings','Gujarat Titans','Gujarat Titans');");
spark.sql("insert into ipl_results values(19 , '2', '2023-04-14', 'Eden Gardens, Kolkata','Kolkata Knight Riders','Sunrisers Hyderabad','Sunrisers Hyderabad');");
spark.sql("insert into ipl_results values(20 , '3', '2023-04-15', 'M Chinnaswamy Stadium, Bengaluru','Royal Challengers Bangalore','Delhi Capitals','Royal Challengers Bangalore');");
spark.sql("insert into ipl_results values(21 , '3', '2023-04-15', 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Crick','Lucknow Super Giants','Punjab Kings','Punjab Kings');");
spark.sql("insert into ipl_results values(22 , '3', '2023-04-16', 'Wankhede Stadium, Mumbai','Mumbai Indians','Kolkata Knight Riders','Mumbai Indians');");
spark.sql("insert into ipl_results values(23 , '3', '2023-04-16', 'Narendra Modi Stadium, Ahmedabad','Gujarat Titans','Rajasthan Royals','Rajasthan Royals');");
spark.sql("insert into ipl_results values(24 , '3', '2023-04-17', 'M Chinnaswamy Stadium, Bengaluru','Royal Challengers Bangalore','Chennai Super Kings','Chennai Super Kings');");
spark.sql("insert into ipl_results values(25 , '3', '2023-04-18', 'Rajiv Gandhi International Stadium, Hyderabad','Sunrisers Hyderabad','Mumbai Indians','Mumbai Indians');");
spark.sql("insert into ipl_results values(26 , '3', '2023-04-19', 'Sawai Mansingh Stadium, Jaipur','Rajasthan Royals','Lucknow Super Giants','Lucknow Super Giants');");
spark.sql("insert into ipl_results values(27 , '3', '2023-04-20', 'Punjab Cricket Association IS Bindra Stadium, Moha','Punjab Kings','Royal Challengers Bangalore','Royal Challengers Bangalore');");
spark.sql("insert into ipl_results values(28 , '3', '2023-04-20', 'Arun Jaitley Stadium, Delhi','Delhi Capitals','Kolkata Knight Riders','Delhi Capitals');");
spark.sql("insert into ipl_results values(29 , '3', '2023-04-21', 'MA Chidambaram Stadium, Chennai','Chennai Super Kings','Sunrisers Hyderabad','Chennai Super Kings');");
spark.sql("insert into ipl_results values(30 , '4', '2023-04-22', 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Crick','Lucknow Super Giants','Gujarat Titans','Gujarat Titans');");
spark.sql("insert into ipl_results values(31 , '4', '2023-04-22', 'Wankhede Stadium, Mumbai','Mumbai Indians','Punjab Kings','Punjab Kings');");
spark.sql("insert into ipl_results values(32 , '4', '2023-04-23', 'M Chinnaswamy Stadium, Bengaluru','Royal Challengers Bangalore','Rajasthan Royals','Royal Challengers Bangalore');");
spark.sql("insert into ipl_results values(33 , '4', '2023-04-23', 'Eden Gardens, Kolkata','Kolkata Knight Riders','Chennai Super Kings','Chennai Super Kings');");
spark.sql("insert into ipl_results values(34 , '4', '2023-04-24', 'Rajiv Gandhi International Stadium, Hyderabad','Sunrisers Hyderabad','Delhi Capitals','Delhi Capitals');");
spark.sql("insert into ipl_results values(35 , '4', '2023-04-25', 'Narendra Modi Stadium, Ahmedabad','Gujarat Titans','Mumbai Indians','Gujarat Titans');");
spark.sql("insert into ipl_results values(36 , '4', '2023-04-26', 'M Chinnaswamy Stadium, Bengaluru','Royal Challengers Bangalore','Kolkata Knight Riders','Kolkata Knight Riders');");
spark.sql("insert into ipl_results values(37 , '4', '2023-04-27', 'Sawai Mansingh Stadium, Jaipur','Rajasthan Royals','Chennai Super Kings','Rajasthan Royals');");
spark.sql("insert into ipl_results values(38 , '4', '2023-04-28', 'Punjab Cricket Association IS Bindra Stadium, Moha','Punjab Kings','Lucknow Super Giants','Lucknow Super Giants');");
spark.sql("insert into ipl_results values(39 , '4', '2023-04-29', 'Eden Gardens, Kolkata','Kolkata Knight Riders','Gujarat Titans','Gujarat Titans');");
spark.sql("insert into ipl_results values(40 , '4', '2023-04-29', 'Arun Jaitley Stadium, Delhi','Delhi Capitals','Sunrisers Hyderabad','Sunrisers Hyderabad');");
spark.sql("insert into ipl_results values(41 , '5', '2023-04-30', 'MA Chidambaram Stadium, Chennai','Chennai Super Kings','Punjab Kings','Punjab Kings');");
spark.sql("insert into ipl_results values(42 , '5', '2023-04-30', 'Wankhede Stadium, Mumbai','Mumbai Indians','Rajasthan Royals','Mumbai Indians');");
spark.sql("insert into ipl_results values(43 , '5', '2023-05-01', 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Crick','Lucknow Super Giants','Royal Challengers Bangalore','Royal Challengers Bangalore');");
spark.sql("insert into ipl_results values(44 , '5', '2023-05-02', 'Narendra Modi Stadium, Ahmedabad','Gujarat Titans','Delhi Capitals','Delhi Capitals');");
spark.sql("insert into ipl_results values(46 , '5', '2023-05-03', 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Crick','Lucknow Super Giants','Chennai Super Kings','No Result');");
spark.sql("insert into ipl_results values(45 , '5', '2023-05-03', 'Punjab Cricket Association IS Bindra Stadium, Moha','Punjab Kings','Mumbai Indians','Mumbai Indians');");
spark.sql("insert into ipl_results values(47 , '5', '2023-05-04', 'Rajiv Gandhi International Stadium, Hyderabad','Sunrisers Hyderabad','Kolkata Knight Riders','Kolkata Knight Riders');");
spark.sql("insert into ipl_results values(48 , '5', '2023-05-05', 'Sawai Mansingh Stadium, Jaipur','Rajasthan Royals','Gujarat Titans','Gujarat Titans');");
spark.sql("insert into ipl_results values(49 , '5', '2023-05-06', 'MA Chidambaram Stadium, Chennai','Chennai Super Kings','Mumbai Indians','Chennai Super Kings');");
spark.sql("insert into ipl_results values(50 , '5', '2023-05-06', 'Arun Jaitley Stadium, Delhi','Delhi Capitals','Royal Challengers Bangalore','Delhi Capitals');");
spark.sql("insert into ipl_results values(51 , '6', '2023-05-07', 'Narendra Modi Stadium, Ahmedabad','Gujarat Titans','Lucknow Super Giants','Gujarat Titans');");
spark.sql("insert into ipl_results values(52 , '6', '2023-05-07', 'Sawai Mansingh Stadium, Jaipur','Rajasthan Royals','Sunrisers Hyderabad','Sunrisers Hyderabad');");
spark.sql("insert into ipl_results values(53 , '6', '2023-05-08', 'Eden Gardens, Kolkata','Kolkata Knight Riders','Punjab Kings','Kolkata Knight Riders');");
spark.sql("insert into ipl_results values(54 , '6', '2023-05-09', 'Wankhede Stadium, Mumbai','Mumbai Indians','Royal Challengers Bangalore','Mumbai Indians');");
spark.sql("insert into ipl_results values(55 , '6', '2023-05-10', 'MA Chidambaram Stadium, Chennai','Chennai Super Kings','Delhi Capitals','Chennai Super Kings');");
spark.sql("insert into ipl_results values(56 , '6', '2023-05-11', 'Eden Gardens, Kolkata','Kolkata Knight Riders','Rajasthan Royals','Rajasthan Royals');");
spark.sql("insert into ipl_results values(57 , '6', '2023-05-12', 'Wankhede Stadium, Mumbai','Mumbai Indians','Gujarat Titans','Mumbai Indians');");
spark.sql("insert into ipl_results values(58 , '6', '2023-05-13', 'Rajiv Gandhi International Stadium, Hyderabad','Sunrisers Hyderabad','Lucknow Super Giants','Lucknow Super Giants');");
spark.sql("insert into ipl_results values(59 , '6', '2023-05-13', 'Arun Jaitley Stadium, Delhi','Delhi Capitals','Punjab Kings','Punjab Kings');");
spark.sql("insert into ipl_results values(60 , '7', '2023-05-14', 'Sawai Mansingh Stadium, Jaipur','Rajasthan Royals','Royal Challengers Bangalore','Royal Challengers Bangalore');");
spark.sql("insert into ipl_results values(61 , '7', '2023-05-14', 'MA Chidambaram Stadium, Chennai','Chennai Super Kings','Kolkata Knight Riders','Kolkata Knight Riders');");
spark.sql("insert into ipl_results values(62 , '7', '2023-05-15', 'Narendra Modi Stadium, Ahmedabad','Gujarat Titans','Sunrisers Hyderabad','Gujarat Titans');");
spark.sql("insert into ipl_results values(63 , '7', '2023-05-16', 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Crick','Lucknow Super Giants','Mumbai Indians','Lucknow Super Giants');");
spark.sql("insert into ipl_results values(64 , '7', '2023-05-17', 'Himachal Pradesh Cricket Association Stadium, Dhar','Punjab Kings','Delhi Capitals','Delhi Capitals');");
spark.sql("insert into ipl_results values(65 , '7', '2023-05-18', 'Rajiv Gandhi International Stadium, Hyderabad','Sunrisers Hyderabad','Royal Challengers Bangalore','Royal Challengers Bangalore');");
spark.sql("insert into ipl_results values(66 , '7', '2023-05-19', 'Himachal Pradesh Cricket Association Stadium, Dhar','Punjab Kings','Rajasthan Royals','Rajasthan Royals');");
spark.sql("insert into ipl_results values(67 , '7', '2023-05-20', 'Arun Jaitley Stadium, Delhi','Delhi Capitals','Chennai Super Kings','Chennai Super Kings');");
spark.sql("insert into ipl_results values(68 , '7', '2023-05-20', 'Eden Gardens, Kolkata','Kolkata Knight Riders','Lucknow Super Giants','Lucknow Super Giants');");
spark.sql("insert into ipl_results values(69 , '7', '2023-05-21', 'Wankhede Stadium, Mumbai','Mumbai Indians','Sunrisers Hyderabad','Mumbai Indians');");
spark.sql("insert into ipl_results values(70 , '7', '2023-05-21', 'M Chinnaswamy Stadium, Bengaluru','Royal Challengers Bangalore','Gujarat Titans','Gujarat Titans');");
spark.sql("insert into ipl_results values(71 , 'Qualifier 1' ,'2023-05-23', 'MA Chidambaram Stadium, Chennai','Gujarat Titans','Chennai Super Kings','Chennai Super Kings');");
spark.sql("insert into ipl_results values(72 , 'Eliminator' ,'2023-05-24', 'MA Chidambaram Stadium, Chennai','Lucknow Super Giants','Mumbai Indians','Mumbai Indians');");
spark.sql("insert into ipl_results values(73 , 'Qualifier 2' ,'2023-05-26', 'Narendra Modi Stadium, Ahmedabad','Gujarat Titans','Mumbai Indians','Gujarat Titans');");
spark.sql("insert into ipl_results values(74 , 'Final' ,'2023-05-29', 'Narendra Modi Stadium, Ahmedabad','Chennai Super Kings','Gujarat Titans','Chennai Super Kings');");

In [ ]:
# spark.sql("select * from ipl_results")

In [ ]:
# spark.sql("select date_format(to_date(dates), 'MM') from ipl_results")

In [5]:
df = spark.read.table("ipl_results")

In [6]:
df = df.withColumn("dates", to_date(col("dates")))

In [ ]:
df

In [7]:
df = df.withColumn("match_details",concat(col("home_team"), lit(" vs "), col("away_team")))

In [11]:
df

+--------+------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+
|match_no|round_number|     dates|            location|           home_team|           away_team|              result|       match_details|
+--------+------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+
|      73| Qualifier 2|2023-05-26|Narendra Modi Sta...|      Gujarat Titans|      Mumbai Indians|      Gujarat Titans|Gujarat Titans vs...|
|      13|           2|2023-04-09|Narendra Modi Sta...|      Gujarat Titans|Kolkata Knight Ri...|Kolkata Knight Ri...|Gujarat Titans vs...|
|      62|           7|2023-05-15|Narendra Modi Sta...|      Gujarat Titans| Sunrisers Hyderabad|      Gujarat Titans|Gujarat Titans vs...|
|      17|           2|2023-04-12|MA Chidambaram St...| Chennai Super Kings|    Rajasthan Royals|    Rajasthan Royals|Chennai Super Kin...|
|      46|           5|2023-05-03|Bharat Ratna Shri...|Lucknow Super Giants| Chennai Super Kings|           No Result|Lucknow Super Gia...|
|      37|           4|2023-04-27|Sawai Mansingh St...|    Rajasthan Royals| Chennai Super Kings|    Rajasthan Royals|Rajasthan Royals ...|
|      68|           7|2023-05-20|Eden Gardens, Kol...|Kolkata Knight Ri...|Lucknow Super Giants|Lucknow Super Giants|Kolkata Knight Ri...|
|      52|           6|2023-05-07|Sawai Mansingh St...|    Rajasthan Royals| Sunrisers Hyderabad| Sunrisers Hyderabad|Rajasthan Royals ...|
|      66|           7|2023-05-19|Himachal Pradesh ...|        Punjab Kings|    Rajasthan Royals|    Rajasthan Royals|Punjab Kings vs R...|
|      51|           6|2023-05-07|Narendra Modi Sta...|      Gujarat Titans|Lucknow Super Giants|      Gujarat Titans|Gujarat Titans vs...|
|      59|           6|2023-05-13|Arun Jaitley Stad...|      Delhi Capitals|        Punjab Kings|        Punjab Kings|Delhi Capitals vs...|
|      30|           4|2023-04-22|Bharat Ratna Shri...|Lucknow Super Giants|      Gujarat Titans|      Gujarat Titans|Lucknow Super Gia...|
|       5|           1|2023-04-02|M Chinnaswamy Sta...|Royal Challengers...|      Mumbai Indians|Royal Challengers...|Royal Challengers...|
|       4|           1|2023-04-02|Rajiv Gandhi Inte...| Sunrisers Hyderabad|    Rajasthan Royals|    Rajasthan Royals|Sunrisers Hyderab...|
|      27|           3|2023-04-20|Punjab Cricket As...|        Punjab Kings|Royal Challengers...|Royal Challengers...|Punjab Kings vs R...|
|      74|       Final|2023-05-29|Narendra Modi Sta...| Chennai Super Kings|      Gujarat Titans| Chennai Super Kings|Chennai Super Kin...|
|      31|           4|2023-04-22|Wankhede Stadium,...|      Mumbai Indians|        Punjab Kings|        Punjab Kings|Mumbai Indians vs...|
|       3|           1|2023-04-01|Bharat Ratna Shri...|Lucknow Super Giants|      Delhi Capitals|Lucknow Super Giants|Lucknow Super Gia...|
|      35|           4|2023-04-25|Narendra Modi Sta...|      Gujarat Titans|      Mumbai Indians|      Gujarat Titans|Gujarat Titans vs...|
|       1|           1|2023-03-31|Narendra Modi Sta...|      Gujarat Titans| Chennai Super Kings|      Gujarat Titans|Gujarat Titans vs...|
+--------+------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [10]:
teams_df = df.select(col("home_team").alias("team"))\
    .union(df.select("away_team")).distinct()

In [11]:
teams_df

+--------------------+
|                team|
+--------------------+
| Sunrisers Hyderabad|
|Lucknow Super Giants|
| Chennai Super Kings|
|      Gujarat Titans|
|    Rajasthan Royals|
|Royal Challengers...|
|Kolkata Knight Ri...|
|        Punjab Kings|
|      Delhi Capitals|
|      Mumbai Indians|
+--------------------+

In [12]:
new_df = df.join(teams_df, (df['home_team']== teams_df.team) | (df['away_team']== teams_df.team) , "inner")\
.select("dates", "team", "result", 
        row_number().over(Window.partitionBy("team").orderBy('dates')).alias("match_number"))

In [13]:
new_df.orderBy("team", "match_number")

+----------+-------------------+--------------------+------------+
|     dates|               team|              result|match_number|
+----------+-------------------+--------------------+------------+
|2023-03-31|Chennai Super Kings|      Gujarat Titans|           1|
|2023-04-03|Chennai Super Kings| Chennai Super Kings|           2|
|2023-04-08|Chennai Super Kings| Chennai Super Kings|           3|
|2023-04-12|Chennai Super Kings|    Rajasthan Royals|           4|
|2023-04-17|Chennai Super Kings| Chennai Super Kings|           5|
|2023-04-21|Chennai Super Kings| Chennai Super Kings|           6|
|2023-04-23|Chennai Super Kings| Chennai Super Kings|           7|
|2023-04-27|Chennai Super Kings|    Rajasthan Royals|           8|
|2023-04-30|Chennai Super Kings|        Punjab Kings|           9|
|2023-05-03|Chennai Super Kings|           No Result|          10|
|2023-05-06|Chennai Super Kings| Chennai Super Kings|          11|
|2023-05-10|Chennai Super Kings| Chennai Super Kings|          12|
|2023-05-14|Chennai Super Kings|Kolkata Knight Ri...|          13|
|2023-05-20|Chennai Super Kings| Chennai Super Kings|          14|
|2023-05-23|Chennai Super Kings| Chennai Super Kings|          15|
|2023-05-29|Chennai Super Kings| Chennai Super Kings|          16|
|2023-04-01|     Delhi Capitals|Lucknow Super Giants|           1|
|2023-04-04|     Delhi Capitals|      Gujarat Titans|           2|
|2023-04-08|     Delhi Capitals|    Rajasthan Royals|           3|
|2023-04-11|     Delhi Capitals|      Mumbai Indians|           4|
+----------+-------------------+--------------------+------------+
only showing top 20 rows

In [14]:
new_df = new_df.filter(col("team")== col("result"))\
.withColumn("wins", row_number().over(Window.partitionBy("result").orderBy('dates')))

In [ ]:
new_df.orderBy("team", "match_number")

In [15]:
new_df = new_df.withColumn("diff", col("match_number") - col("wins"))

In [ ]:
new_df.orderBy("team", "match_number")

In [20]:
new_df.groupBy("result", "diff").agg(count("*").alias("streak_cnt"))\
        .groupBy("result").agg(max("streak_cnt").alias("streak"))

+--------------------+------+
|              result|streak|
+--------------------+------+
| Sunrisers Hyderabad|     2|
|Lucknow Super Giants|     3|
| Chennai Super Kings|     3|
|      Gujarat Titans|     3|
|    Rajasthan Royals|     3|
|Royal Challengers...|     2|
|Kolkata Knight Ri...|     2|
|        Punjab Kings|     2|
|      Delhi Capitals|     2|
|      Mumbai Indians|     3|
+--------------------+------+

In [ ]:
window_spec = Window.partitionBy("team").orderBy('dates')

In [ ]:
new_df = df.select("dates", col("home_team").alias('team'), when(col("result") == col('home_team'), 1).otherwise(0).alias("point"))\
.union( df.select("dates", col("away_team").alias('team'), when(col("result") == col('away_team'), 1).otherwise(0).alias("point")))

In [ ]:
new_df

In [ ]:
new_df = new_df.withColumn("prev_point", lag(col("point"), 1).over(window_spec))

In [ ]:
new_df = new_df.withColumn("streak", lit(0))

In [ ]:
new_df.withColumn("streak", when((col("point") == 1) & (col("prev_point") == 1), col("streak") + 1)\
                  .otherwise(1).alias("streak"))